body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calc-wrapper, .calc-display {
    border-radius: 45px;
    border: 1px solid black;
}

.calc-wrapper {
    height: 700px;
    width: 500px;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
}

li button {
    border: 1px solid black;
    border-radius: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.calc-nums li button {
    background-color: lightslategray;
    width: 100px;
    height: 100px;
    margin-top: 5px;
}

.calc-ops li button {
    background-color: lightgray;
    width: 75px;
    height: 100px;
    margin-top: 5px;
}

.calc-display {
    background-color: lightcyan;
    flex-basis: 150px;
    margin: 10px;
}

.calc-buttons {
    display: flex;
    flex-direction: row;
}

.calc-nums {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    min-width: 250px;
}

.calc-ops {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}